* {
    font-size: 0.93rem !important;
}
body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    overflow: hidden;
    background: #e9ecef;
}
.app-card-outbox-link {
    text-decoration: none !important;
}

.app-card:hover {
    transform: scale(1.1);
    transition: 0.1s linear;
}
.app-card .card-title {
    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: 0.88rem;
}

.app-login-img-box {
    background-image: url("../assets/images/backg_login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

/* SCROLLBAR STYLE
*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    height: 50px !important;
    max-height: 50px !important;
}
::-webkit-scrollbar-thumb {
    background: #04aa6d;
}
::-webkit-scrollbar-thumb:hover {
    background: #009933;
}

.login-date-input {
    border-radius: 20.5px;
    padding: 10px;
}

.login-search-input {
    border-bottom-left-radius: 20.5px;
    border-top-left-radius: 20.5px;
    padding: 10px;
}
.login-search-input-append {
    border-top-right-radius: 20.5px !important;
    border-bottom-right-radius: 20.5px !important;
}

.login-form-input,
.login-form-button,
.vdatetime-input {
    border-radius: 20.5px;
    height: 40px !important;
    padding: 10px;
}

.input-select-custom {
    border-radius: 20.5px;
}

/* ANIMATIONS */

/*
    BUTTONS
*/
.times-icon {
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}

.button-times-icon:hover .times-icon {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.input-with-centered-placeholder::-webkit-input-placeholder {
    text-align: center;
    line-height: 100px;
}


/** Login2 Styles */
.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 25px;
    /* height: 80%; */
    width: 60%;
}

.card2 {
    margin: 0px 30px;
    height: 100% !important;
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px;
}

.image {
    width: 100%;
    height: 100%;
}

.border-line {
    border-right: 1px solid #EEEEEE;
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px;
}

.or {
    width: 10%;
    font-weight: bold;
}

.text-sm {
    font-size: 14px !important;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input, textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

a {
    color: inherit;
    cursor: pointer;
}

.btn-blue {
    background-color: #1A237E;
    color: #fff;
    /* border-radius: 5px; */
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer;
}

.bg-blue {
    color: #fff;
    background-color: #1A237E;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px;
    }

    .image {
        width: 300px;
        height: 220px;
    }

    .border-line {
        border-right: none;
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px;
    }
}